<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="admin" value="RemoveSwitchCase.AdminRoleFactory"/>
    <add key="PwCAdmin" value="RemoveSwitchCase.AdminRoleFactory"/>
    <add key="PwCUser" value="RemoveSwitchCase.UserRoleFactory"/>
    <add key="user" value="RemoveSwitchCase.UserRoleFactory"/>
    <add key="assemblyName" value="RemoveSwitchCase"/>
  </appSettings>
</configuration>